.banner {
  position: relative;
  height: 55vh;
  margin-bottom: 9px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  max-width: 100vw;
}
.logo-text-container {
  display: flex;
  flex-wrap: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 5%;
  left: 3%;
}

.logo {
  height: 50vh;
  opacity: 1;
  margin-right: 30px;
  border-radius: 3%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  color: white;
  color: #eaeaea;
  background-color: rgba(40,40,40,0.4);
  border-radius: 3%;
  padding: 13px;
}

.title-text {
  color: #6f6d6f;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  line-height: 4;
  margin-top: 5px;
  padding: 13px;
  align-item: center;
}

.container-style {
  box-shadow: 0 2px 0 rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  border-radius: 2px;
  background-color: white;
  margin-bottom: 15px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.pictures-container {
  padding-bottom: 25px;
}
.line {
  margin-left: 45px;
  margin-right: 65px;
  border-bottom: 4px solid black;
}

.paragraph-text {
  color: #6f6d6f;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.48;
  margin: 33px 65px 33px;
  padding-bottom: 20px;
}

.img {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

.scripture {
  font-weight: bold;
  color: #537d91
}

.color-blue {
  color: #537d91
}

.hoto-font {
  font-family: 'Pacifico', cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
