.body-background-style {
  background-color: #f4f4f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23c0bfbf'/%3E%3Cstop offset='1' stop-color='%23fdfdfd'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23f4f4f4' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.banner {
  position: relative;
  height: 55vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8px;
  margin-bottom: 30px;
  max-width: 100vw;
  box-shadow: 0 2px 0 rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.logo-text-container {
  display: flex;
  flex-wrap: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 5%;
  left: 3%;
}

.logo {
  height: 50vh;
  opacity: 1;
  margin-right: 30px;
  border-radius: 3%;
  border-top: solid;
  border-bottom: solid;
  border-width: 5px;
  border-color: white;
  background-color: black;
}

.images {
  height: 50vh;
  opacity: 1;
  margin-right: 30px;
  border-radius: 3%;
  border-top: solid;
  border-bottom: solid;
  border-width: 5px;
  border-color: black;
  background-color: black;
}

.images-borderless {
  height: 50vh;
  opacity: 1;
  margin-right: 30px;
  border-radius: 3%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  color: white;
  color: #eaeaea;
  background-color: rgba(40,40,40,0.4);
  border-radius: 3%;
  padding: 13px;
}

.title-text {
  color: #6f6d6f;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  line-height: 4;
  margin-top: 5px;
  padding: 13px;
  align-item: center;
}

.text-shadow-tag {
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.container-style {
  box-shadow: 0 2px 0 rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  border-radius: 2px;
  background-color: white;
  margin-bottom: 15px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.pictures-container {
  padding-bottom: 25px;
}
.line {
  margin-left: 45px;
  margin-right: 65px;
  border-bottom: 4px solid black;
}

.paragraph-text {
  color: #6f6d6f;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.48;
  margin: 33px 65px 33px;
  padding-bottom: 20px;
}

.img {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.scripture {
  font-weight: bold;
  color: black;
}

.color-blue {
  color: #6c7b95;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.hoto-font {
  font-family: 'Pacifico', cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
