<div class="banner" style="background-image: url('<%= image_path "HOMELESS-VETS1.jpg" %>')">
  <div class="logo-text-container">
    <%= image_tag "stranger.jpg", alt: "I am Stranger Logo", class: "logo"%>
    <div class="text-container">
      <h1>"Each one Help one, each one Teach one"</h1>
    </div>
  </div>
</div>
<div class="container container-style">
  <h5 class="title-text"><strong>HOTO MEDIA GROUP LLC (HOTO)</strong></h5>
  <div class="line"></div>
    <p class="paragraph-text">
      “Each one Help One, Each one Teach One” (HOTO) was formed out of the necessity to help those in need with a simplistic and efficient manner. We are an experienced group of individuals who understand, because we’ve been there. We have experienced varied business environments, that were less than optimal and have chosen to be different. Our organization will treat each circumstance with integrity and honesty.
      Each team member is here to help, Period. Each brings with them their own individual talents, as well as having excelled in their own respective fields. We are now together as one, to make a change in the market place. <br><br>
      Each day we see many homeless on the streets. Many of these are our own Veterans. If you love them for their heroic acts in uniform, then you should still love them while they are in their dark place. They need our help and need us to be their advocates. It is our mission to honor them through our works. ”Do not forget to do good and to share with others, for with such sacrifices God is pleased”. Hebrews 13:16.<br><br>
      It’s very simple; “There is plenty of room on The Village bus to success. We are about collaboration over competition. We rent the bus together, board the bus together, we sit together, we fix the flat tire together, we arrive at our destination together, then we sit at the same table, where we all talk and make plans to bring two buses on the next trip”. That’s us.<br><br>
      “Each one Help One, Each one Teach One”; is our Village Creed. It’s time to stop talking about it and to be about it. Be that light from our Village that helps!<br><br>
      “You are the source of all life, and because of your light, we see the light” Psalm 36:9 <br><br>
      HOTO, <br>
      The Village Services.<br> Sd.

    </p>
  </div>
</div>
<div class="container container-style">
  <h5 class="title-text">OUR HEROS TODAY</h5>
  <div class="line"></div>
  <div class="pictures-container">
    <%= image_tag "Homeless-Vets.JPG", alt: "Homeless Veterans", class: "img", style: "width: 480px" %>
    <%= image_tag "missing-Indigenous.jpg", alt: "Missing Indigneous Women Poster", class: "img", style: "width: 480px" %>
  </div>
</div>
