.navbar-lewagon {
  // justify-content: flex-end;
  // background: #F4F4F4;
  box-shadow: 0 2px 0 rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: space-between;
  background: white;
  transition: 0.5s background-color ease;
}

a {
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  border-width: 1px;
  background-color: #4f81c7;
}

a:hover {
  // color: #4f81c7 !important;
  background: #F4F4F4;
  border-width: 1px;
  border-color: #4f81c7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

